.authentication .wrapper {
    display: flex;
    min-height: 100vh;
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.authentication .inner {
    width: 400px;
    margin: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 40px;
    border-radius: 3px;
}

.authentication .brand {
    margin-bottom: 30px;
}

.authentication .brand .icon {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication .brand .icon img {
    display: block;
    max-width: 200px;
    max-height: 110px;
}

.authentication .brand .title {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 16px;
}

.authentication .brand .desc {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
}

.authentication .form-default .control-label {
    font-size: 13px;
    color: #4E5155;
    margin-bottom: 0;
    display: none;
}

.authentication .form-default .form-control {
    padding: 5px 0;
    font-size: 14px;
    color: #4E5155;
    min-height: inherit;
    height: 44px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid rgba(24, 28, 33, 0.1);
}

.authentication .form-default .form-control:focus{
    border-color: #716aca;
}

.authentication .form-default .btn {
    min-width: inherit;
    height: 44px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: normal;
    line-height: 34px;
}

.authentication .form-default .checkbox-control {
    position: relative;
    display: inline-block;
}

.authentication .form-default .checkbox-control .icon {
    width: 17px;
    height: 17px;
    border: 2px solid rgba(24, 28, 33, 0.1);
    background-color: transparent;
    border-radius: 3px;
    position: absolute;
    top: 9px;
    left: 0;
}

.authentication .form-default .checkbox-control .title {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    padding-left: 26px;
    line-height: 36px;
    display: block;
}

.authentication .form-default .checkbox-control input[type='checkbox'] {
    margin-top: 0;
    position: absolute;
    z-index: 5;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.authentication .form-default .checkbox-control input[type='checkbox']:checked~.icon {
    border-color: transparent;
    background-color: #333;
}

.authentication .form-default .checkbox-control input[type='checkbox']:checked~.icon:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: url("../image/icon/checkbox.png") center no-repeat;
    background-size: 12px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.authentication .alert-login{
    margin: 0 0 20px 0;
    font-size: 12px;
    color: #a3a4a6;
    text-align: left;
}
.authentication .alert-login .feather{
    position: relative;
    top: 1px;
    color: #FF4961;
    font-size: 13px;
}

.authentication .copy {
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
    color: #a3a4a6;
}

.authentication .copy .link {
    color: #716aca;
}