body {
    font-family: 'db_helvethaica';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

.site-header .main {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
}
.site-header .brand {
    padding: 15px 30px;
    width: 240px;
    height: 60px;
    background-color: #2c2e3e;
}
.site-header .brand .icon {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.site-header .brand .title {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding-left: 15px;
}
.site-header .profile {
    margin-right: 30px;
}
.site-header .profile .link {
    color: #4e5155;
}
.site-header .profile .pic {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 6px 0 10px;
}
.site-header .profile .pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.site-header .profile .title {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
}
.site-header .profile .dropdown-menu {
    min-width: 180px;
    margin: 15px 0 0 0;
    padding: 5px 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05),
        0px 1px 10px 0px rgba(0, 0, 0, 0.03);
}
.site-header .profile .dropdown-menu .link {
    line-height: 1.3em;
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    color: #4e5155;
}
.site-header .profile .dropdown-menu .link span {
    margin-right: 4px;
}
.site-header .profile .dropdown-menu .link:hover {
    background-color: rgba(24, 28, 33, 0.03);
}
.site-header .profile .dropdown-menu .logout {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #ebebeb;
}
.site-header .profile .dropdown-menu .logout span {
    color: #ff4961;
}




.site-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    height: -webkit-fill-available;
    background-color: #2c2e3e;
    padding: 0;
    overflow: auto;
}
.site-menu .main {
    padding-top: 60px;
    padding-bottom: 120px;
}
.site-menu a {
    color: #9b9ca3;
    font-size: 14px;
    line-height: 1.2em;
    padding: 12px 30px;
    display: block;
    position: relative;
}
.site-menu a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}
.site-menu .divLeftMenuOver {
    width: auto;
    float: none;
    min-height: inherit;
}
.site-menu .divLeftMenuOver a {
    display: block;
    height: auto;
    line-height: 1.2em;
    padding: 12px 30px;
    background-color: #373848;
    color: #fff;
}
.site-menu .divLeftSubMenu {
    background-color: transparent;
}
.site-menu .divLeftSubMenu a {
    padding: 12px 30px 12px 54px;
}
/*.site-menu .divLeftMenu[onclick='clickOutSubMenuLeft()']{
	opacity: 0;
}*/
.site-menu a .feather {
    top: 0;
    margin: 0 6px 0 0;
}
.site-menu a .arrow {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 10px;
    right: 30px;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
}
.site-menu a .arrow:before {
    font-family: "feather";
    content: "\e843";
}
.site-menu .divLeftMenu {
    width: auto;
    float: none;
    min-height: inherit;
    background-color: transparent;
}
.site-menu .nav-group {
    position: relative;
    padding: 15px 0;
    float: left;
    width: 100%;
}
.site-menu .nav-group:before {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    height: 1px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.06);
}
.site-menu .nav-group .title-group {
    color: #7f818a;
    margin: 5px 0 0 0;
    padding: 0 30px;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.7;
}
.site-menu .divmenu{
    float: left;
    width: 100%;
}
.site-menu .divLeftMenu{
    float: left;
    width: 100%;
}
.site-menu .divLeftMenuOver{
    float: left;
    width: 100%;
}
.site-menu .divLeftMenuOverNew{
    color: #fff;
    background-color: #373848;
    border: none;
}
.site-menu .divLeftMenuOverNew > a{
    color: #fff;
}
.site-menu .divmenu .nav-item a{
    padding: 12px 30px 12px 54px;
}
.site-menu .divmenu .divLeftSubMenuOver{
    background-color: transparent;
}
.site-menu .divmenu .divLeftSubMenuOver a{
    color: #fff;
}




.site-content {
    background-color: #f2f3f8;
    padding: 60px 0 0 0;
    min-height: calc(100vh - 50px);
}
.allBackOffice {
    background-color: #f2f3f8;
}
.divRightMain {
    margin-bottom: 60px;
}




.site-footer {
    background-color: #fff;
    height: 50px;
    margin-left: 240px;
    color: #4e5155;
    font-size: 13px;
    line-height: 50px;
    padding: 0 30px;
    box-shadow: 0 -1px 0 rgba(24, 28, 33, 0.04);
}
.site-footer .menu li + li {
    margin-left: 20px;
}
.site-footer .menu .link {
    color: #4e5155;
}
.site-footer .menu .link:hover {
    color: #716aca;
}





.default-header {
    margin-top: 30px;
    padding: 0 30px;
    margin-bottom: 20px;
}
.default-header .title {
    font-size: 24px;
    color: #4e5155;
    margin: 0;
    font-weight: bold;
}
.default-header .breadcrumb li,
.default-header .breadcrumb .link {
    color: #a3a4a6;
    font-size: 12px;
}
.default-header .breadcrumb li.active {
    color: #4e5155;
}





.divRightHome {
    margin: 0;
    padding: 0 30px;
}
.divRightInnerHome {
    width: 100%;
}
.divRightInnerBigBoxHome {
    width: 100%;
    margin: 0;
}




.divRightInnerHome {
    display: flex;
}
.divRightInnerTopBoxHome {
    width: calc((100% / 3) - (40px / 3));
    margin: 0;
}
.divRightInnerTopBoxHome + .divRightInnerTopBoxHome {
    margin-left: 20px;
}

.divRightInnerBigBoxHome {
    border: none;
    box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.04);
}
.divRightInnerBigBoxHome .btn-export {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #f2f3f8;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divRightInnerBigBoxHome .btn-export img {
    display: block;
    width: 24px;
}
.divRightInnerBigBoxHome .divRightTitleHomeBoxAll > tbody > tr:first-child > td {
    border: none;
    padding: 0;
}
.divRightInnerBigBoxHome thead td {
    height: 60px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: normal;
    color: #716aca;
    border-bottom: 1px solid #f2f3f8;
}
.divRightInnerBigBoxHome tbody td {
    border-bottom: 1px solid #f2f3f8;
    font-size: 14px;
    line-height: 1.2em;
    padding: 12px 20px;
}
.divRightInnerBigBoxHome tbody table thead td {
    height: auto;
    color: #4e5155;
    border-bottom-width: 4px;
}
.divRightInnerBigBoxHome tbody table thead td b {
    font-weight: normal;
}
.divRightInnerBigBoxHome tbody table tbody tr:nth-child(odd) {
    background-color: rgba(24, 28, 33, 0.025);
}




.divRightHeadSearch {
    width: auto;
    margin: 0 30px 20px 30px;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.04);
    padding: 25px;
}
.divRightHeadSearch .btnSearch {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #6e7175;
}




.table-list {
    box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.04);
    background-color: #fff;
}
.table-list thead td {
    height: 50px;
    background-color: #fff;
    border-bottom: 4px solid #f2f3f8;
    color: #4e5155;
    font-size: 14px;
    padding: 10px;
}
.table-list > tbody > tr > td {
    position: relative;
    border-bottom: 1px solid #f2f3f8;
    padding: 10px;
    color: #6e7175;
    font-size: 14px;
}
.table-list tfoot td {
    height: 50px;
}
.table-list a:hover {
    text-decoration: none;
}
.table-list .bar-color {
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
}
.table-list .checkbox {
    margin: 0 auto;
    width: 18px;
    position: relative;
}
.table-list .checkbox input {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}
.table-list .checkbox input ~ .icon {
    position: relative;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.table-list .checkbox input:checked ~ .icon {
    border-color: transparent;
    background-color: #2c2e3e;
    text-align: center;
    line-height: 14px;
    color: #fff;
    font-size: 10px;
    text-align: center;
}
.table-list .checkbox input:checked ~ .icon:before {
    font-family: "feather";
    content: "\e83f";
}
.table-list .thumb {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    position: relative;
}
.table-list .thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.table-list .title {
    font-weight: normal;
    font-size: 14px;
    color: #6e7175;
    line-height: 1.2em;
}
.table-list .date {
    font-size: 14px;
    text-align: center;
}
.table-list small,
.table-list .date small {
    font-size: 0.9em;
    display: block;
    opacity: 0.7;
}
.table-list .manage .top {
    margin: 0 2.5px;
    position: relative;
    text-align: center;
    text-align: center;
    line-height: 32px;
    width: 34px;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #1e9ff2;
    color: #1e9ff2;
}
.table-list .manage .top:hover {
    border-color: transparent;
    background-color: #1e9ff2;
    color: #fff;
}
.table-list .manage .edit {
    margin: 0 2.5px;
    position: relative;
    text-align: center;
    text-align: center;
    line-height: 32px;
    width: 34px;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #ff9149;
    color: #ff9149;
}
.table-list .manage .edit:hover {
    border-color: transparent;
    background-color: #ff9149;
    color: #fff;
}
.table-list .manage .remove {
    margin: 0 2.5px;
    position: relative;
    text-align: center;
    text-align: center;
    line-height: 32px;
    width: 34px;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #ff4961;
    color: #ff4961;
}
.table-list .manage .remove:hover {
    border-color: transparent;
    background-color: #ff4961;
    color: #fff;
}
.table-list .manage .editLang .feather{
    position: relative;
    top: -6px;
}
.table-list .manage .editLang .lang{
    line-height: 1em;
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    text-align: center;font-size: 10px;
}




.fontContantTbNavPage {
    color: #6e7175;
}




.card {
    border: none;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.04);
    margin-bottom: 20px;
}
.card-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 25px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0 !important;
}
.card-header .title {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    line-height: 1.2em;
    color: #716aca;
}
.card-body {
    padding: 20px 25px;
}




.table-view {
    margin: 0;
}
.table-view tr td {
    border: none;
    font-size: 14px;
    line-height: 1.2em;
    padding: 10px 0;
    color: #6e7175;
}
.table-view tr td:first-child {
    width: 9rem;
}
.table-view tr td a {
    color: #6e7175;
}
.table-view tr td .by {
    margin-top: 3px;
    font-size: 0.8em;
    opacity: 0.7;
}
.table-view tr td .by span {
    position: relative;
    top: 0px;
}
.table-view .map .title {
    margin-bottom: 15px;
}
.table-view .map .wrapper {
    position: relative;
    width: 600px;
    height: 340px;
    background-color: rgba(24, 28, 33, 0.025);
}
.table-view .map .wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.table-view .map .wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.table-view .attech-file {
    float: left;
    font-size: 14px;
    color: #6e7175;
}
.table-view .attech-file:hover {
    text-decoration: none;
}
.table-view .attech-file .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-view .attech-file .icon img {
    display: block;
    width: 24px;
}
.table-view .attech-file .title {
    font-weight: normal;
    font-size: inherit;
    margin: 0 0 2px 0;
}
.table-view .attech-file .desc {
    font-size: 0.8em;
    opacity: 0.7;
    margin: 0;
}
.table-view .attech-pic {
    width: 800px;
}

.table-view.form tr td:first-child {
    text-align: right;
}
.table-view.form .require {
    color: #ff4961;
}
.table-view.form .note {
    color: #4e5155;
    font-size: 0.8em;
    opacity: 0.5;
    margin-top: 5px;
}
.table-view.form .block-control {
    margin-left: 20px;
    margin-right: 40px;
    position: relative;
}
.table-view.form .block-control .form-control {
    margin-top: -8px;
    padding: 6px 0;
    font-size: 14px;
    color: #4e5155;
    min-height: inherit;
    height: 34px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(24, 28, 33, 0.1);
}
.table-view.form .block-control textarea.form-control {
    height: auto;
}
.table-view.form .block-control .form-control:focus {
    box-shadow: none;
}
.table-view.form .block-control .form-control::-webkit-input-placeholder {
    color: #4e5155;
    opacity: 0.4;
}
.table-view.form .block-control .form-control::-moz-placeholder {
    color: #4e5155;
    opacity: 0.4;
}
.table-view.form .block-control .form-control:-ms-input-placeholder {
    color: #4e5155;
    opacity: 0.4;
}
.table-view.form .block-control .form-control:-moz-placeholder {
    color: #4e5155;
    opacity: 0.4;
}
.table-view.form .date-icon {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    pointer-events: none;
}
.table-view .editor-content {
    padding: 0;
    margin-top: -1px;
    font-size: 14px;
    line-height: 1.4em;
}
.table-view .radio-control {
    min-height: inherit;
    margin: 0;
}
.table-view .radio-control .icon {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 50%;
    top: -1px;
}
.table-view .radio-control .title {
    padding: 0 0 0 24px;
    font-size: 14px;
    color: #4e5155;
    font-weight: normal;
    line-height: 1.2em;
}
.table-view .radio-control input:checked ~ .icon {
    border-color: #2c2e3e;
}
.table-view .radio-control input:checked ~ .icon:before {
    width: 8px;
    height: 8px;
    background-color: #2c2e3e;
}
.table-view .switch-lang .nav {
    border: none;
    border-radius: 2px;
    overflow: hidden;
    margin-top: -2px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05),
        0px 1px 10px 0px rgba(0, 0, 0, 0.03);
}
.table-view .switch-lang a {
    background-color: #fff;
    color: #bbb;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    display: block;
    width: 28px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    
}
.table-view .switch-lang a.active {
    background-color: #2c2e3e;
    color: #fff;
}
.table-view .cke_chrome{
    box-shadow: none;
}




.file-input-qr {
    float: left;
    margin-top: 15px;
    position: relative;
}
.file-input-qr > img {
    max-width: 120px;
    border: 1px solid #ebebeb;
}
.file-input-qr .remove {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff4961;
}
.file-input-qr .remove:before {
    font-family: "feather";
    content: "\e8f6";
}




.file-input-pic {
    float: left;
    margin-top: 15px;
    position: relative;
}
.file-input-pic > img{
    max-width: 600px;
    border: none;
}
.file-input-pic .remove {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff4961;
    cursor: pointer;
}
.file-input-pic .remove:before {
    font-family: "feather";
    content: "\e8f6";
}




.file-input-attech {
    margin-top: 15px;
}
.file-input-attech .remove {
    margin-right: 10px;
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    background-color: #ff4961;
    color: #fff;
}
.file-input-attech .remove:hover {
    text-decoration: none;
}
.file-input-attech .remove:before {
    font-family: "feather";
    content: "\e8f6";
}




.multiupload-pic{
    display: flex;
    margin-top: 5px;
}
.multiupload-pic .item{
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
}
.multiupload-pic .item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
.multiupload-pic .remove {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    background-color: #ff4961;
    color: #fff;
}
.multiupload-pic .remove:hover {
    text-decoration: none;
}
.multiupload-pic .remove:before {
    font-family: "feather";
    content: "\e8f6";
}




.sort-list li {
    padding: 0;
    border: none;
    margin-bottom: 4px;
    cursor: move;
}




.ajax-file-upload{
    display: block;
    width: 100%;
    height: 36px;
    border: none;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    background-color: #2c2e3e;
    color: #fff;
    padding: 0;
    line-height: 36px;
    width: 300px;
}
.ajax-file-upload:hover{
    background-color: #2c2e3e;
    color: #fff;
}




















