@font-face {
    font-family: 'db_helvethaica';
    src: url('../font/db_helvethaica_x_v3.2-webfont.woff2') format('woff2'),
         url('../font/db_helvethaica_x_v3.2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'db_helvethaica';
    src: url('../font/db_helvethaica_x_med_v3.2-webfont.woff2') format('woff2'),
         url('../font/db_helvethaica_x_med_v3.2-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'db_helvethaica';
    src: url('../font/db_helvethaica_x_bd_v3.2-webfont.woff2') format('woff2'),
         url('../font/db_helvethaica_x_bd_v3.2-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}