/*----- Topbar -----*/
.site-header .main {
    background-color: #0F4C81;
}
.site-header .profile .link {
    color: #fff;
}

/*----- Title -----*/
.card-header .title {
    color: #0F4C81;
}
.divRightInnerBigBoxHome thead td {
    color: #0F4C81;
}

/*----- Form -----*/
.table-view .block-control .form-control:focus {
    border-color: #0F4C81;
}
/*.tbBoxListwBorder thead td{
	color: #0F4C81;
}*/

/*----- Footer -----*/
.site-footer .menu .link:hover {
    color: #0F4C81;
}

/*----- Login -----*/
.authentication .form-default .form-control:focus {
    border-color: #0F4C81;
}
.authentication .copy .link {
    color: #0F4C81;
}
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0F4C81;
    border-color: transparent;
}
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.actitve:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary:focus:hover,
.btn-primary.focus:hover {
    color: #fff;
    background-color: #0F4C81;
    border-color: transparent;
}
