.ajax-file-upload-statusbar {
	border: 1px solid #ebebeb;
	margin: 10px 0 0 0;
	width: 300px;
	border-radius: 2px;
	padding: 10px;
}
.ajax-file-upload-filename {
	width: 100%;
	height: auto;
	margin: 0 0 5px 0;
	color: #6e7175;
	font-size: 13px;
	font-weight: normal;
}
.ajax-file-upload-progress {
	margin: 0;
	position: relative;
	width: 280px;
	background-color: #f5f5f5;
	border-radius: 2px;
	display: block;
}
.ajax-file-upload-bar {
	background-color: #2c2e3e;
	width: 0;
	height: 20px;
	border-radius: 2px;
	color:#FFFFFF;
}
.ajax-file-upload-percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%
}

.ajax-file-upload-red {
	-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
	-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
	box-shadow: inset 0 39px 0 -24px #e67a73;
	background-color: #e4685d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #b23e35;
	cursor: pointer;
	vertical-align: top;
	margin-right:5px;
}
.ajax-file-upload-green {
	background-color: #77b55a;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0;
	padding: 0;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 1px 0 #5b8a3c;
	vertical-align: top;
	margin-right:5px;
}
.ajax-file-upload {
    width: 350px;
    height: 30px;
	padding-top:10px;
    overflow: hidden;
    position: relative;
	cursor:pointer;
	border:#c8c7cc solid 1px;
	color: #747474;
	vertical-align:middle;
	text-align:center;
	background-color:#fefefe;
	font-size:14px;
	cursor:pointer;
}
  
.ajax-file-upload:hover {
    background-color: #dddddd;
	color: #747474;
	cursor:pointer;
}

.ajax-upload-dragdrop{
	border:2px dotted #A5A5C7;
	width:420px;
	color: #DADCE3;
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 0px 10px;
}