/* ######## :: SETUP :: ######## */

@import url(../css/font.css);
body {
    margin: 0px;
    padding: 0;
    color: #000000;
    font-family: "tahoma";
    font-size: 14px;
    line-height: 1.35em;
    background: #ffffff;
}


/*
div, ul, ol, li {
        margin:0px;
        padding:0px;
        list-style:none;
}
*/

.fontfile {
    font-family: tahoma;
    font-size: 12px;
    color: #aaaaaa;
}

img {
    border: none;
}


/*
::-webkit-input-placeholder { color:#e1e0e1;}
:-moz-placeholder {  color:#e1e0e1;}
::-moz-placeholder {   color:#e1e0e1;}
:-ms-input-placeholder { color:#e1e0e1;}
::-moz-selection { text-shadow:none;}
*/

a:link,
a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #1a1a1a;
}

.borderLeft {
    border-left: #c8c7cc solid 1px;
}

.borderBottom {
    border-bottom: #c8c7cc solid 1px;
}

.fontContantB {
    font-weight: bold;
}

.fontContantSubMenu:link,
.fontContantSubMenu:visited {
    font-size: 14px;
    text-decoration: none;
    color: #1a1a1a;
}

.fontContantSubMenu:hover {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 14px;
}

.fontContantSub:link,
.fontContantSub:visited {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

.fontContantSub:hover {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 14px;
}

.fontHeadRight {
    font-size: 28px;
    line-height: normal;
    color: #333333;
}

.fontTitlTbRight {
    font-size: 16px;
    font-weight: bold;
}

.fontContantTbupdate {
    color: #616161;
    line-height: 1.2em;
}

.fontContantTbNav {
    color: #f3f4f4;
    font-size: 14px;
}

.fontContantTbNav a {
    color: #fff;
    font-size: 13px;
}

.fontContantTbNavPage {
    color: #000000;
    font-size: 14px;
}

.fontContantTbNavPage a {
    color: #000000;
    font-size: 14px;
}

.fontContantAlert {
    color: #FF3300;
    font-size: 14px;
}

.fontContantTbTime {
    color: #616161;
    font-size: 12px;
    line-height: 1.2em;
    opacity: 0.7;
}

.fontContantTbManage {
    color: #616161;
    font-size: 10px;
    line-height: 1.2em;
    display: block;
    margin-top: 4px;
}

.fontContantTbDisable {
    color: #f5391c;
}

.fontContantTbEnable {
    color: #2ee034;
}

.fontContantTbHomeSt {
    color: #FF9900;
}

.fontContantTbNew {
    color: #0D00FF;
}

.fontContantTbComplete {
    color: #2ee034;
}

.fontContantTbReject {
    color: #f5391c;
}

.fontContantTbRead {
    color: #000000;
}

.fontContantTbRead {
    color: #000000;
}

input {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 25px;
    padding: 3px;
    font-size: 14px;
}

textarea {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 50px;
    padding: 3px;
    font-size: 14px;
}

.inputContantTb {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 22px;
    width: 200px;
}

.btnAdd {
    width: 52px;
    height: 52px;
    background: url(../img/btn/add.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    float: left;
    cursor: pointer;
}

.btnAdd2 {
    width: 22px;
    height: 22px;
    background: url(../img/btn/add2.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    float: left;
    cursor: pointer;
}

.btnDel2 {
    width: 22px;
    height: 22px;
    background: url(../img/btn/delete.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    float: left;
    cursor: pointer;
}

.btnAdd3 {
    width: 22px;
    height: 22px;
    background: url(../img/btn/add2.png) center no-repeat;
    margin: 0 auto;
    ;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.btnDel {
    width: 44px;
    height: 44px;
    background: url(../img/btn/del.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnApprove {
    width: 44px;
    height: 44px;
    background: url(../img/btn/approve.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnCopy {
    width: 44px;
    height: 44px;
    background: url(../img/btn/copy.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnSend {
    width: 44px;
    height: 44px;
    background: url(../img/btn/sendPop.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnSort {
    width: 44px;
    height: 44px;
    background: url(../img/btn/sort.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnSync {
    width: 44px;
    height: 44px;
    background: url(../img/btn/sync.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnSortH {
    width: 44px;
    height: 44px;
    background: url(../img/btn/sortH.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnExport {
    width: 44px;
    height: 44px;
    background: url(../img/btn/export.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnExportPdf {
    width: 44px;
    height: 44px;
    background: url(../img/btn/pdfPop.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnPdf {
    width: 44px;
    height: 44px;
    background: url(../img/btn/pdfPop.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnSave {
    width: 44px;
    height: 44px;
    background: url(../img/btn/save.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnEditView {
    width: 44px;
    height: 44px;
    background: url(../img/btn/edit1.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnCancel {
    width: 44px;
    height: 44px;
    background: url(../img/btn/cancel2.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnBack {
    width: 44px;
    height: 44px;
    background: url(../img/btn/back.png) center no-repeat;
    margin-left: 10px;
    text-align: center;
    padding-top: 0px;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.btnSearch {
    width: 32px;
    height: 32px;
    background: url(../img/btn/search.png) center no-repeat;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    border-left: none;
    border-top: none;
    border: 0px;
}

.clearAll {
    display: block;
    height: 0px;
    clear: both;
}

.allBackOffice {
    width: 100%;
    min-width: 1024px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


/*############################## Login ##############################*/

.headLogin {
    width: 100%;
    min-width: 1024px;
    min-height: 560px;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    border-bottom: #c8c7cc solid 1px;
    border-top: #aaaaaa solid 1px;
    background: url(../img/logo/login-bg.jpg) top no-repeat;
}

.mainLogin {
    width: 100%;
    min-width: 1024px;
    height: auto;
    min-height: 180px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.mLeftLogin {
    float: left;
    width: 33.3%;
    height: auto;
    min-height: 180px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.mCenterLogin {
    float: left;
    width: 33.4%;
    height: auto;
    min-height: 180px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.mRightLogin {
    float: left;
    width: 33.3%;
    height: auto;
    min-height: 180px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.lBoxContantLogin {
    float: right;
    width: 344px;
    height: 150px;
    margin-top: 15px;
}

.cBoxContantLogin {
    width: 344px;
    height: 150px;
    margin: 0 auto;
    margin-top: 15px;
}

.rBoxContantLogin {
    float: left;
    width: 344px;
    height: 150px;
    margin-top: 15px;
}

.cycle1Login {
    width: 52px;
    height: 52px;
    background: url(../img/login/cycle1.png) center no-repeat;
    float: left;
}

.cycle2Login {
    width: 52px;
    height: 52px;
    background: url(../img/login/cycle2.png) center no-repeat;
    float: left;
}

.cycle3Login {
    width: 52px;
    height: 52px;
    background: url(../img/login/cycle3.png) center no-repeat;
    float: left;
}

.cycle4Login {
    width: 52px;
    height: 52px;
    background: url(../img/login/cycle4.png) center no-repeat;
    float: left;
}

.cycleTContantLogin {
    float: left;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 17px;
    color: #666666;
}

.cycleBContantLogin {
    float: left;
    font-size: 14px;
    margin-top: 15px;
    line-height: 20px;
}


/*############################## CORE ##############################*/

.headBackOffice {
    width: 100%;
    min-width: 1024px;
    height: 58px;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    border-bottom: #25c3f3 solid 1px;
    border-top: #aaaaaa solid 1px;
}

.imgLogo {
    float: left;
    /*width:230px;*/
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    position: relative;
}

.menuSub {
    width: 100%;
    min-width: 1024px;
    height: 0px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: #c8c7cc solid 1px;
    border-top: #c8c7cc solid 1px;
    display: none;
}

.menuSubManage {
    float: right;
    width: 650px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    position: relative;
    text-align: right;
}

.divLogin {
    float: right;
    width: 450px;
    margin-left: 15px;
    margin-top: 16px;
    margin-bottom: 10px;
    margin-right: 20px;
    position: relative;
    text-align: right;
}

.mainBackOffice {
    width: 100%;
    min-width: 1024px;
    height: auto;
    min-height: 600px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
}

.mLeftBackOffice {
    float: left;
    width: 225px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #616161;
    position: fixed;
    top: 60px;
    bottom: 50px;
    overflow: hidden;
}

.navControl {
    width: 225px;
    position: absolute;
    height: 100%;
    top: 0px;
    overflow-y: scroll;
    padding-right: 17px;
}

.tbLeftMenu {
    width: 225px;
    background-color: #616161;
}

.divLeftMenu {
    float: left;
    width: 100%;
    max-width: 225px;
    min-width: 225px;
    height: auto;
    min-height: 35px;
    margin: 0;
    background-color: #4c4b49;
    border-bottom: #616161 solid 1px;
}

.divLeftMenuOverNew {
    float: left;
    width: 100%;
    max-width: 225px;
    min-width: 225px;
    height: auto;
    min-height: 35px;
    margin: 0;
    background-color: #393836;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.divLeftMenu:hover {
    background-color: #393836;
}

.divLeftMenuTb {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.divLeftMenuTb a {
    color: #fff;
}

.boxLeftSubMenu {
    display: none;
}

.divLeftSubMenu {
    float: left;
    width: 100%;
    max-width: 225px;
    min-width: 225px;
    height: auto;
    margin: 0;
    background-color: #ffffff;
    border-bottom: #bbbbba solid 1px;
}

.divLeftSubMenuOver {
    float: left;
    width: 100%;
    max-width: 225px;
    min-width: 225px;
    height: auto;
    margin: 0;
    background-color: #ffffff;
    border-bottom: #bbbbba solid 1px;
    color: #000;
    font-weight: bold;
}

.divLeftSubMenuOver a {
    color: #000;
}

.divLeftSubMenuEnd {
    float: left;
    width: 100%;
    max-width: 225px;
    min-width: 225px;
    height: auto;
    margin: 0;
    background-color: #616161;
    border-bottom: #616161 solid 1px;
}

.divLeftSubMenu a {
    color: #000;
}

.divLeftSubMenu:hover {
    background-color: #fff;
    font-weight: bold;
}

.divLeftSubMenuTb {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.divLeftMenuOver {
    float: left;
    width: 100%;
    max-width: 195px;
    min-width: 195px;
    margin: 0;
    background-color: #2e252a;
    border-bottom: #616161 solid 1px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    color: #FFFFFF;
}

.divLeftMenuOver a {
    color: #FFFFFF;
}

.mRightBackOffice {
    float: left;
    width: 100%;
    min-height: 700px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.divRightNav {
    float: left;
    width: 100%;
    margin: 0 auto;
    height: 38px;
    background-color: #fff;
    border-bottom: #c8c7cc solid 1px;
}

.divRightHead {
    float: left;
    width: 100%;
    margin: 0 auto;
    height: 80px;
}

.divRightMain {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -2px;
    height: auto;
}

.divRightNavTb {
    height: 38px;
    color: #FFFFFF;
}

.divRightTitleTb {
    height: 57px;
    border-bottom: #c8c7cc solid 2px;
    /*border-left:#c8c7cc solid 1px;*/
    background: #969696;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.divRightTitleTbFr {
    height: 37px;
    border-bottom: #c8c7cc solid 2px;
    /*border-left:#c8c7cc solid 1px;*/
    padding-left: 10px;
}

.divRightTitleTbL {
    height: 37px;
    border-bottom: #c8c7cc solid 2px;
    /*border-left:#c8c7cc solid 1px;*/
    background: #969696;
    color: #FFFFFF;
}

.divRightTitleTbR {
    height: 37px;
    border-bottom: #c8c7cc solid 2px;
    /*border-right:#c8c7cc solid 1px;*/
    background: #969696;
    color: #FFFFFF;
    /*border-left:#c8c7cc solid 1px;*/
}

.divRightContantTb {
    height: 37px;
    border-bottom: #c8c7cc solid 1px;
    /*border-left:#c8c7cc solid 1px;*/
    /*background-color:#ffffff;
    padding-left:10px;*/
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.divRightContantTbL {
    height: 37px;
    border-bottom: #c8c7cc solid 1px;
    /*border-left:#c8c7cc solid 1px;*/
    /*background-color:#ffffff;*/
    padding-top: 8px;
}

.divRightContantTbR {
    height: 37px;
    border-bottom: #c8c7cc solid 1px;
    /*border-right:#c8c7cc solid 1px;*/
    /*border-left:#c8c7cc solid 1px;*/
    /*background-color:#ffffff;*/
    padding-top: 8px;
}

.divRightContantTbRL {
    height: 37px;
    /*	border-bottom:#c8c7cc solid 1px;
            border-left:#c8c7cc solid 1px;
            border-right:#c8c7cc solid 1px;
    */
    /*background-color:#ffffff;*/
}

.divRightContantTbRLT {
    border: #c8c7cc solid 1px;
    /*background-color:#ffffff;*/
}

.divRightContantOverTb {
    height: 37px;
    border-bottom: #c8c7cc solid 1px;
    /*border-left:#c8c7cc solid 1px;*/
    /*background-color:#f9f9f9;
    padding-left:10px;*/
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.divRightContantOverTb a {
    font-weight: bold;
    font-size: 16px;
    color: #4c4b49;
}

.divRightContantOverTb a span {
    font-size: 14px;
    font-weight: 300;
}

.divRightContantOverTbL {
    height: 37px;
    border-bottom: #c8c7cc solid 1px;
    /*border-left:#c8c7cc solid 1px;*/
    /*background-color:#f9f9f9;*/
    padding-top: 8px;
}

.divOverTb {
    background-color: #ffffff;
}

.divOverTb:hover {
    background-color: #f1f2f2;
}

.divSubOverTb {
    background-color: #eaeaea;
}

.divSubOverTb:hover {
    background-color: #e1e0e0;
}

.divRightContantOverTbR {
    height: 37px;
    border-bottom: #c8c7cc solid 1px;
    /*border-right:#c8c7cc solid 1px;*/
    /*border-left:#c8c7cc solid 1px;*/
    /*background-color:#f9f9f9;*/
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.divRightManage {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.divRightContantEnd {
    height: 50px;
}

.footerBackOffice {
    width: 100%;
    min-width: 1024px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #616161;
    border-top: #4c4b49 solid 1px;
    color: #fff;
}


/*###################### Form Add ################################*/

.viewEditorTileTxt {
    line-height: normal;
    margin-top: -10px;
    list-style-type: auto;
    padding: 20px;
}

.formTileTxt {
    height: 70px;
}

.formTileTxtGenCode {
    height: 50px;
}

.formFontSubjectTxt {
    font-size: 18px;
}

.formFontSubjectTxtGencode {
    font-size: 50px;
    color: #FF0000;
}

.formFontTileTxt {
    font-size: 14px;
    color: #616161;
    line-height: 25px;
}

.formFontNoteTxt {
    font-size: 12px;
    color: #616161;
    line-height: 25px;
}

.formInputContantTb {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 90%;
}

.formSelectContantTb {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 37px;
    width: 91%;
    font-size: 14px;
    line-height: 31px;
}

.formSelectContantTbShort {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 37px;
    width: 100%;
    font-size: 14px;
    line-height: 31px;
}

.formSelectContantPage {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 25px;
    width: 50px;
    font-size: 14px;
}

.formInputContantTbShot {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 39%;
    min-width: 350px;
}

.formInputContantTbShot2 {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 19%;
    min-width: 150px;
}

.formInputContantTbShotBD {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 100%;
    min-width: 50px;
}

.formInputContantTbAlertY {
    border: #ff0000 solid 1px;
}

.formInputContantTbAlertYcheck {
    color: #FF0000;
}

.formInputContantTbAlertN {
    border: #c8c7cc solid 1px;
}

.formTextareaContantTb {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 130px;
    width: 90%;
    font-size: 14px;
    font-family: inherit;
}

.formRadioContantTb {
    background: none;
    border: none;
    height: 20px;
    margin-top: 10px;
}

.formCheckBoxContantTb {
    background: none;
    border: none;
    height: 20px;
    margin-top: 10px;
}

.equipment {
    background: none;
    border: none;
    height: 20px;
    margin-top: 10px;
}

.software {
    background: none;
    border: none;
    height: 20px;
    margin-top: 10px;
}

.hardware {
    background: none;
    border: none;
    height: 20px;
    margin-top: 10px;
}

.manageEdit {
    background: none;
    border: none;
    height: 20px;
    margin-top: 10px;
}

.formCheckboxList {
    background: none;
    border: none;
    height: 20px;
    margin-top: -3px;
}

.formCheckboxHead {
    background: none;
    border: none;
    height: 20px;
    margin-top: 5px;
}

.formDivRadioL {
    float: left;
    margin-right: 5px;
}

.formDivRadioR {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}

.formDivRadioJob {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    width: 80px;
}

.formDivView {
    margin-top: 10px;
}
.formDivView img{
    max-width: 800px;
}

.formDivViewColor {
    margin-top: 10px;
}

.formLeftContantTb {
    height: 37px;
    background-color: #ffffff;
    padding-right: 15px;
    padding-top: 10px;
}

.formEndContantTb {
    height: 20px;
    background-color: #ffffff;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: #c8c7cc solid 1px;
}

.formRightContantTb {
    height: 37px;
    background-color: #ffffff;
    padding-bottom: 15px;
}

.formRightContantTbEditor {
    height: 37px;
    background-color: #ffffff;
    padding-bottom: 0px;
}

.divRightContantTbnoBL {
    height: 37px;
    border-left: #c8c7cc solid 1px;
    background-color: #ffffff;
}

.divRightContantTbnoBR {
    height: 37px;
    border-right: #c8c7cc solid 1px;
    background-color: #ffffff;
}

.divSortDrop {
    margin: 0px;
    height: 37px;
    border-left: #c8c7cc solid 1px;
    border-right: #c8c7cc solid 1px;
    border-bottom: #c8c7cc solid 1px;
    background-color: #f9f9f9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: move;
    list-style: none;
}

.boxPermissionSort .divSortDrop {
    margin: 0;
    padding: 0;
}

#boxPermissionSort {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.tbRightTitleTb {
    height: 37px;
    border-bottom: #c8c7cc solid 2px;
    /*	border-top:#c8c7cc solid 1px;
    */
}

.tbRightTitleTbFr {
    height: 37px;
    border-bottom: #c8c7cc solid 2px;
    border-top: #c8c7cc solid 1px;
    padding-left: 10px;
}

.tbRightTitleTbL {
    height: 37px;
    border-bottom: #c8c7cc solid 2px;
    /*	border-left:#c8c7cc solid 1px;
            border-top:#c8c7cc solid 1px;
    */
    padding-left: 15px;
}

.tbRightTitleTbR {
    height: 37px;
    border-bottom: #c8c7cc solid 2px;
    /*border-right:#c8c7cc solid 1px;
    border-top:#c8c7cc solid 1px;*/
}

.formSelectSearch {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 300px;
    font-size: 13px;
    margin-right: 5px;
    line-height: 24px;
    border-radius: 15px;
    padding-left: 15px;
}

.formSelectSearch2 {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 100%;
    min-width: 255px;
    font-size: 13px;
    margin-right: 5px;
    line-height: 24px;
    margin-bottom: 5px;
    border-radius: 15px;
    padding-left: 15px;
}

.formInputSearchdate {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 22px;
    width: 98%;
    min-width: 255px;
}

.formSelectSearchL {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 100%;
    min-width: 235px;
    font-size: 14px;
    margin-right: 5px;
    line-height: 24px;
}

.formSelectSearchR {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 100%;
    min-width: 205px;
    font-size: 14px;
    line-height: 24px;
}

.formInputSearchI {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 22px;
    width: 100%;
    min-width: 205px;
    border-radius: 15px;
}

.formInputSearch {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 22px;
    width: 100%;
    min-width: 255px;
}

.file-input-wrapper {
    width: 350px;
    height: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.file-input-wrapper>input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    width: 350px;
    height: 40px;
}

.file-input-wrapper>.btn-file-input {
    display: inline-block;
    width: 350px;
    height: 40px;
    border: #c8c7cc solid 1px;
    color: #000000;
    vertical-align: middle;
    text-align: center;
    background-color: #fefefe;
    font-size: 14px;
    cursor: pointer;
}

.file-input-wrapper:hover>.btn-file-input {
    background-color: #dddddd;
    color: #000000;
    cursor: pointer;
}

.divRightHome {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0px;
    margin-top: -2px;
    height: auto;
}

.divRightInnerHome {
    width: 98%;
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}

.divRightInnerTopBoxHome {
    float: left;
    width: 31%;
    padding: 0;
    margin: 0 auto;
    height: 145px;
    margin-left: 1.7%;
    margin-bottom: 1.7%;
    border-bottom: #e9e9ea solid 1px;
    overflow: hidden;
}

.divRightInnerBoxHome {
    float: left;
    width: 31%;
    padding: 0;
    margin: 0 auto;
    height: auto;
    margin-left: 1.7%;
    margin-bottom: 1.7%;
}

.divRightInnerBigBoxHome {
    float: left;
    width: 96.4%;
    padding: 0;
    margin: 0 auto;
    height: auto;
    margin-left: 1.7%;
    margin-bottom: 1.7%;
}

.divRightTitleHome {
    height: 38px;
    border-bottom: #c8c7cc solid 2px;
    color: #FFFFFF;
}

.divRightTitleHomeBoxAll {
    height: 38px;
    border: #c8c7cc solid 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px #D4D4D4;
    -moz-box-shadow: 0px 2px 3px #D4D4D4;
    -webkit-box-shadow: 0px 2px 3px #D4D4D4;
    background: #969696;
}

.divRightTrHome {
    height: 180px;
    padding-top: 8px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.boxViewAllHome {
    margin: 10px;
    height: 20px;
    padding: 5px;
    background: #CCCCCC;
    border: #c8c7cc solid 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px #D4D4D4;
    -moz-box-shadow: 0px 2px 3px #D4D4D4;
    -webkit-box-shadow: 0px 2px 3px #D4D4D4;
}

.boxViewAllHomeTable {
    height: 125px;
}

.fontTitlTbHome {
    font-size: 16px;
}

.fontContantTbHome {
    font-size: 13px;
    color: #333;
}

.divRightTrHomeLog {
    border-bottom: #c8c7cc solid 1px;
}

#boxHomeSort {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: auto;
    margin-left: 0px;
    margin-bottom: 1.7%;
}

.boxHomeSortli {
    float: left;
    width: 31%;
    padding: 0;
    margin: 0 auto;
    height: auto;
    margin-left: 1.7%;
    margin-bottom: 1.7%;
    list-style: none;
}

.boxHomeSortPic {
    float: left;
    padding: 0;
    margin: 0 auto;
    height: auto;
    list-style: none;
    cursor: move;
}

.divRightInnerBoxHome {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: auto;
}

.ui-datepicker {
    font-family: tahoma;
    font-size: 14px;
    text-align: center;
    min-width: 350px;
}

.divRightHeadSearch {
    padding-bottom: 0;
    width: 96.4%;
    margin: 0 auto;
    height: auto;
    border-bottom: #c8c7cc solid 1px;
}

.haedEnews {
    width: 100%;
    height: 38px;
    background-color: #f6f6f6;
    border-bottom: #c8c7cc solid 1px;
}

.fontHeadEnews {
    font-size: 16px;
    padding-left: 14px;
}

.formSelectStatus {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    line-height: 24px;
}

.formSelectStatusSn {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 160px;
    font-size: 14px;
    line-height: 24px;
}

.selectTheme {
    width: 300px;
    /*height: 50px;*/
    list-style: none;
    /*margin: 0;*/
    margin: 0;
    padding: 0;
    overflow: auto;
}

.parentTheme {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

.themeActive {
    margin: 1px;
    border: 3px #FFF solid;
    width: 42px;
    height: 42px;
    background-image: url(../img/controlpage/correct.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.tbBoxViewBorder {
    border: #cccccc solid 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px #D4D4D4;
    -moz-box-shadow: 0px 2px 3px #D4D4D4;
    -webkit-box-shadow: 0px 2px 3px #D4D4D4;
    background: #FFFFFF;
}

.tbBoxViewBorderBottom {
    border-bottom: #cccccc solid 1px;
    padding-left: 20px;
    line-height: 30px;
    background: #969696;
    color: #FFFFFF;
}

.tbBoxViewBorderBottomGenCode {
    border-bottom: #cccccc solid 1px;
    line-height: 30px;
    background: #969696;
    color: #FFFFFF;
}

.tbBoxViewBorderBottom span {
    color: #FFFFFF;
}

.tbBoxListwBorder {
    border: #c8c7cc solid 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px #D4D4D4;
    -moz-box-shadow: 0px 2px 3px #D4D4D4;
    -webkit-box-shadow: 0px 2px 3px #D4D4D4;
    background: #FFFFFF;
}


/*################## 2016 Login ################33*/

.headBackOfficeLogin {
    width: 100%;
    min-width: 1024px;
    height: 108px;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    /*border-bottom:#c8c7cc solid 1px;
    border-top:#aaaaaa solid 1px;*/
    padding-top: 2px;
    padding-bottom: 3px;
}

.imgLogoLogin {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

.headLoginNew {
    width: 100%;
    min-width: 1024px;
    min-height: 560px;
    margin: 0;
    padding: 0;
    background: url(../img/logo/login-bg.jpg) top no-repeat;
}


/* ####################### Start Login ######### */

.boxLogin {
    width: 394px;
    box-sizing: border-box;
    padding: 30px;
    color: #FFF;
    height: 320px;
    background: #969696;
    float: right;
    box-shadow: inset -20px 20px 80px rgba(0, 0, 0, 0.1);
}

.boxInput {
    border: 2px solid #fff;
    padding: 0;
    margin: 0;
    height: 35px;
    width: 100%;
}

.styleInput {
    border: none;
    width: 299px;
    height: 35px;
    background-color: #FFFFFF;
    font-size: 16px;
    text-indent: 12px;
    margin: 0;
    padding: 0;
}

.login-btn {
    width: 100%;
    display: block;
    padding: 0;
    text-decoration: none;
    height: 50px;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background: #616161;
    color: #fff;
    font: 400 normal 24px/50px 'Helvethaica Mon';
    border: none;
    cursor: pointer;
}

.login-btn:hover {
    background: #4f4e4e;
}


/*.login-box{height:320px; margin:auto;  background:linear-gradient(to right,#fff 0%,rgba(255,255,255,0) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#0ffff',GradientType=1 )}*/

.login-title {
    padding: 100px 60px;
    float: left
}

.login-title .title {
    margin: 0;
    line-height: 1;
    color: #333333;
    text-align: left;
}

.login-title .subtitle {
    margin: 0;
    text-align: left;
}

.txtLogoLogin {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

.txtLogoLogin .title {
    margin: 0;
    line-height: 1;
    color: #969696;
    text-align: left;
    margin-top: 25px;
}

.txtLogoLogin .subtitle {
    margin: 0;
    text-align: left;
    margin-top: -5px;
}

.txtLogoLogin .titleInner {
    margin: 0;
    line-height: 1;
    color: #969696;
    text-align: left;
    margin-top: 7px;
}

.txtLogoLogin .subtitleInner {
    margin: 0;
    text-align: left;
    margin-top: -3px;
}


/* ####################### End Login ######### */


/* ###################### Star New Menu Sub #####################*/

.menuSubMod a{
    float: right;
    width: auto;
    min-width: 100px;
    text-align: center;
    height: 26px;
    background-color: #f6f6f6;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #999 !important;
    margin-top: 6px;
    margin-right: 4px;
    border: 1px solid #e1e1e1;
    border-bottom: none;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    cursor: pointer;
}

.menuSubMod.active a{
    float: right;
    width: auto;
    min-width: 100px;
    text-align: center;
    height: 26px;
    background-color: #281293;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    margin-top: 6px;
    margin-right: 4px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    border: 1px solid #281293;
    border-bottom: none;
}

.menuSubMod.active a:link,
.menuSubMod.active a:visited {
    color: #fff !important;
}

.btnNewComment {
    border: #cccccc solid 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px #D4D4D4;
    -moz-box-shadow: 0px 2px 3px #D4D4D4;
    -webkit-box-shadow: 0px 2px 3px #D4D4D4;
    background: #FFFFFF;
    width: 200px;
    padding: 12px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btnNewComment:hover {
    border: #cccccc solid 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px #D4D4D4;
    -moz-box-shadow: 0px 2px 3px #D4D4D4;
    -webkit-box-shadow: 0px 2px 3px #D4D4D4;
    background: #CCCCCC;
    width: 200px;
    padding: 12px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}


/* ###################### End New Menu Sub #####################*/

.listper {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.listper input {
    height: auto;
}

.listper li {
    float: left;
    margin: 5px;
}

.listper li span {
    line-height: 40px;
}

.listper label {
    background: #eaeaea;
    border: 1px solid #333;
    padding: 5px;
    margin: 5px;
    display: block;
}

.tabchart {
    padding: 8px;
    background: #ecfbf8;
    text-align: right;
}

.tabchart select {
    padding: 3px;
    border: 1px solid #333;
    background: #fff;
}

#viewChartImage {
    padding: 8px;
    text-align: right;
}

#viewChartImage img {
    width: 100%;
}

.divmenu {
    width: 225px;
}

.listImggallery {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.listImggallery li {
    display: block;
    float: left;
    padding: 15px;
    border: 1px solid #D4D4D4;
    margin-bottom: 4px;
    margin-right: 4px;
}

.listImggallery li label {
    margin-left: 5px;
    float: left;
    font-size: 11px;
}

.listImggallery li .delimgal {
    float: left;
    cursor: pointer;
}

.btnHistory {
    width: 52px;
    height: 52px;
    background: url(../img/btn/history.png) center no-repeat;
    margin-left: 15px;
    text-align: center;
    padding-top: 10px;
    float: left;
    cursor: pointer;
}


/*---------- j10 editor ----------*/

body {
    min-height: 100vh;
    background-color: #e8ecf0;
    color: #54667a;
    /*font-family: Arial,Helvetica Neue,Helvetica,sans-serif;*/
    font-family: Arial, sans-serif;
    /*-webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;*/
}


/*---------- main color ----------*/

.headBackOffice {
    background-color: #FFFFFF;
    border-bottom: solid #231f20 2px;
}

.divRightTitleHomeBoxAll {
    background-color: #281293;
}

.divRightInnerBigBoxHome .divRightTitleHomeBoxAll>tbody>tr:first-child>td {
    border-bottom: 2px solid #969696;
}

.login-form .btn {
    background-color: #969696;
    border: 1px solid #969696;
    -webkit-transition: All 200ms ease;
    -moz-transition: All 200ms ease;
    -o-transition: All 200ms ease;
}

.login-form .btn:hover {
    background-color: #fff;
    border: 1px solid #969696;
    color: #969696;
}

.divLogin a {
    color: #fff;
}

.divLogin-btn .fa {
    color: #54667a;
}

.divLeftMenuTb a {
    color: #54667a;
}

.divLeftMenuTb a .angle {
    color: #54667a
}

.menuSubManage a {
    color: #54667a;
}

.fontContantTbNav {
    color: #54667a;
}

.divRightNavTb {
    color: #54667a
}

.fontHeadRight {
    color: #54667a
}

.fontContantTbHome {
    color: #54667a;
}

.divRightInnerTopBoxHome a {
    color: #54667a;
}

a:link,
a:visited {
    color: #54667a;
}

.fontTitlTbHome {
    color: #54667a;
}

.divLeftMenuOver a {
    background-color: #281293;
    color: #fff;
}

.fontContantTbNavPage {
    color: #54667a;
    font-size: 13px;
}


/*.navControl > div:last-child{display: none;}*/

.footerBackOffice {
    display: block;
    width: auto;
}

.versionsmall {
    color: #fff !important;
}

.mainBackOffice td.borderLeft {
    border: none;
}

.imgLogo {
    margin: 5px 15px 5px 15px;
}

.imgLogo img {
    height: 50px;
}

.tbLeftMenu,
.mLeftBackOffice {
    background-color: #fff;
}

.divLeftMenu {
    background-color: #fff;
    border: none;
}

.divLeftMenu:hover {
    background-color: #f6f6f6;
}

.divLeftMenuOver {
    background-color: #fff;
    border: none;
    padding: 0;
}

.divLeftMenuOver a {
    font-weight: normal;
    display: block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.divLeftMenuOver a .fa {
    font-size: 14px;
    position: relative;
    top: -1px;
    margin-right: 6px;
}

.divLeftMenuOver a img {
    width: 14px;
}

.mLeftBackOffice {
    top: 60px !important;
    bottom: 0 !important;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.06);
}

.divLeftMenuOver {
    background-color: #fff;
    border-color: #d1d1d1;
}

.divLeftMenuTb {
    padding: 0;
    position: relative;
}

.divLeftMenuTb a {
    font-size: 14px;
    display: block;
    padding: 0 15px 0 40px;
    position: relative;
    height: 40px;
    line-height: 40px;
}

.divLeftMenuTb a .fa {
    margin-right: 5px;
    position: absolute;
    top: 12.5px;
    left: 15px;
    font-size: 14px;
}

.divLeftMenuTb a .fa.angle {
    position: absolute;
    top: 11px;
    right: 13px;
    left: auto;
    font-size: 18px;
}

.divLeftMenuTb a img {
    width: 14px;
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
}

.divLeftMenuOverNew {
    min-width: inherit;
    max-width: inherit;
    width: 100%;
    background-color: #281293;
}

.divLeftMenuOverNew a {
    color: #fff;
    font-weight: normal;
}

.divLeftMenuOverNew a .fa {
    color: #fff;
}

.divLeftMenuOverNew .divLeftMenuTb a img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.divLeftSubMenuOver {
    min-width: inherit;
    max-width: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: #54667a;
}

.divLeftSubMenuOver a,
.fontContantSubMenu:link,
.fontContantSubMenu:visited {
    color: #54667a;
    font-weight: normal;
    font-size: 13px;
}

.divLeftSubMenuTb a:hover {
    background-color: #000;
}

.divLeftSubMenuOver {
    border-bottom: none;
}

.divLeftMenuTb td>div {
    position: absolute;
    top: 16px;
    right: 12px;
}

.divLeftSubMenuTb {
    padding: 0;
}

.divLeftSubMenuTb a {
    position: relative;
    padding: 10px 10px 10px 50px;
    display: block;
}

.divLeftSubMenuTb a:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border: 1px solid #54667a;
    position: absolute;
    left: 35px;
    top: 17px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.divLeftSubMenuTb a:hover {
    font-weight: normal;
    background-color: #281293;
    color: #fff;
}

.divLeftSubMenuTb a:hover:before {
    border-color: #fff;
}

.tbLeftMenu,
.mLeftBackOffice,
.navControl,
.divLeftMenu,
.divLeftSubMenu,
.divmenu,
.divLeftMenuOver {
    min-width: inherit;
    max-width: inherit;
    padding: 0;
    width: 240px;
}

.divLeftSubMenu {
    border: none;
}

.divLeftSubMenu a {
    font-size: 13px;
    color: #54667a;
}

.borderLeft {
    border-color: #d1d1d1;
}

.headBackOffice {
    position: fixed;
    border: none;
    height: 60px;
    border-bottom: solid #000 2px;
}

.mRightBackOffice {
    padding-top: 60px;
    background-color: #f6f6f6;
    min-height: calc(100vh - 106px);
}

.navControl>.divLeftMenu:first-child a:before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.divRightNavTb {
    background-color: #fff;
    height: 42px;
    border: none;
}

.divRightNav>table {
    width: 100% !important;
}

.divLogin {
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
    width: auto;
}

.divLogin>div {
    float: left;
}

.divLogin-img {
    overflow: hidden;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.divLogin-name {
    padding: 0 15px 0 10px;
    line-height: 28px;
    font-size: 13px;
}

.divLogin-name a {
    color: #54667a;
}

.divLogin-btn .fa {
    font-size: 20px;
    position: relative;
    top: 4px;
}

.menuSub {
    background-color: transparent;
    position: fixed;
    z-index: 500;
    top: 60px;
    border: none;
    height: auto !important;
}

.menuSubManage {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 8px 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.menuSubManage ul {
    padding-left: 0;
    margin: 0;
}

.menuSubManage li {
    list-style: none;
    text-align: left;
}

.menuSubManage a {
    font-size: 13px;
    display: block;
    padding: 8px 15px;
}

.menuSubManage a:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.menuSubManage a img {
    margin-right: 4px;
}

.menuSubManage a .fa {
    font-size: 14px;
    position: relative;
    top: 1px;
    margin-right: 6px;
}

.divRightNav {
    margin-top: 2px;
    height: auto;
    border: none;
    padding: 0 15px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fontContantTbNav,
.divRightNavTb {
    font-size: 13px;
}

.fontHeadRight {
    font-size: 22px;
}

.btnAdd,
.btnDel,
.btnSort,
.btnBack,
.btnSave,
.btnExport,
.btnExportPdf,
.btnHistory {
    padding: 0;
    width: 44px;
    height: 44px;
    background-size: 100%;
    margin-left: 10px;
    padding-top: 0;
}

.divRightInnerTopBoxHome {
    background-color: #fff;
    border: none;
    padding: 15px;
    height: 155px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.divRightTitleHomeBoxAll {
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.divRightTitleHome {
    border-bottom: none;
}

.borderBottom {
    border-color: #d3d7db;
}

.formEndContantTb {
    background-color: transparent;
    border-top-color: #d3d7db;
}

.divRightTrHomeLog {
    border-color: #eee;
}

.divRightInnerBigBoxHome {
    border: 1px solid #eee;
}

.divRightInnerBigBoxHome .divRightTitleHomeBoxAll {
    background-color: #fff;
}

.divRightInnerBigBoxHome .divRightTitleHomeBoxAll .divRightTitleHome {
    padding: 0 5px;
}

.divRightTrHome {
    padding-top: 12px;
}

.divRightNavTb .inputContantTb {
    border-color: #d1d1d1;
    color: #54667a;
    font-size: 13px;
    padding: 0 15px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.btnSearch {
    width: 34px;
    height: 34px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    background-size: 14px;
    background-position: center;
    margin-left: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.tbBoxListwBorder {
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.divRightTitleTbL,
.divRightTitleTb,
.divRightTitleTbR {
    height: 46px;
}

.divRightContantOverTbL,
.divRightContantOverTb,
.divRightContantOverTbR {
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.divRightContantOverTb {
    padding-left: 10px;
}

.divRightContantOverTb a {
    font-size: 14px;
    font-weight: bold;
}

.fontTitlTbRight {
    font-size: 14px;
    font-weight: bold;
}

.divSubOverTb {
    background-color: rgba(0, 0, 0, 0.04);
}

.divSubOverTb:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.formCheckboxList {
    height: auto;
    margin-top: 0;
}

.fontContantTbEnable {
    color: #006f49;
}

.divRightTitleTbL,
.divRightTitleTb,
.divRightTitleTbR {
    background-color: #281293;
    border-bottom: 2px solid;
    /* text-align: center;*/
}

.fontTitlTbRight {
    color: #fff;
}

.divRightTitleTb_L {
    text-align: left;
}

.tbBoxListwBorder {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tbBoxViewBorder {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tbBoxViewBorderBottom {
    background-color: #281293;
    line-height: 1.6em;
    border: none;
    border-bottom: 2px solid;
}

.tbBoxViewBorderBottom span {
    color: #FFFFFF;
}

.tbBoxViewBorderBottomGenCode {
    background-color: #fff;
    line-height: 1.6em;
    border: none;
    border-bottom: 2px solid;
}

.tbBoxViewBorderBottomGenCode span {
    color: #54667a;
}

.formInputContantTb {
    padding: 6px 10px;
    height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formTextareaContantTb {
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formFontNoteTxt {
    color: #8496aa;
    padding-top: 4px;
    display: block;
}

.divRightMain {
    margin-top: -3px;
}

.formInputSearch {
    height: 34px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
}

.divRightHeadSearch .btnSearch {
    margin-left: 0;
}

.formSelectSearch2 {
    height: 34px;
    margin-bottom: 0;
    padding: 0 5px;
}

.navControl {
    overflow-x: hidden;
    border-top: solid #969696 2px;
}

#loadAlertLogin {
    margin-top: 15px;
}

.loginBack {
    text-align: center;
    height: 100vh;
    background-color: transparent;
}

.loginBack:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.loginBack-wrapper {
    margin: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 500px;
    margin-top: -40px;
}

.login-header {
    margin-bottom: 20px;
}

.login-header img {
    max-width: 150px;
    height: auto;
}

.login-body {
    background-color: #fff;
    padding: 35px 50px 50px 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.login-footer {
    color: #54667a;
    font-size: 12px;
    margin-top: 15px;
}

.login-form {
    margin-top: 30px;
}

.login-form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-btn {
    margin-top: 30px;
}

.login-form .control-label {
    color: #54667a;
    font-weight: normal;
    font-size: 13px;
    padding-bottom: 4px;
    text-align: left;
    display: block;
}

.login-form .form-control {
    width: 100%;
    height: 40px;
    border: 1px solid #dfdfdf;
    padding: 0 10px 0 40px;
    color: #54667a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: All 200ms ease;
    -moz-transition: All 200ms ease;
    -o-transition: All 200ms ease;
}

.login-form .control-group {
    position: relative;
}

.login-form .control-group .fa {
    position: absolute;
    left: 14px;
    top: 14px;
    color: #54667a;
    font-size: 14px;
}

.login-form .form-control:focus {
    border-color: #54667a;
}

.login-form .form-control::-webkit-input-placeholder {
    color: #54667a;
    opacity: 0.4;
}

.login-form .form-control::-moz-placeholder {
    color: #54667a;
    opacity: 0.4;
}

.login-form .form-control:-ms-input-placeholder {
    color: #54667a;
    opacity: 0.4;
}

.login-form .form-control:-moz-placeholder {
    color: #54667a;
    opacity: 0.4;
}

.login-form .btn {
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    width: 100%;
    height: auto !important;
    border: 1px solid #969696;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.formRightContantTb [class*=" flaticon-"]:before {
    margin-left: 0px;
}

.cursor {
    cursor: pointer;
}

.txtLogoLogin .titleInner {
    color: #54667a;
    font-size: 18px;
    font-weight: normal;
    padding-left: 0;
    line-height: 1em;
    margin-top: 12px;
}

.txtLogoLogin .subtitleInner {
    color: #54667a;
    display: block;
    font-weight: normal;
    font-size: 12px;
    margin-top: 2px;
    opacity: 0.7;
}

.divRightHeadSearch td {
    padding: 0 10px 10px 0 !important;
    /*width: 50% !important;*/
}

.divRightHeadSearch .colTd01 {
    padding: 0 10px 10px 0 !important;
    width: 90% !important;
}

.divRightHeadSearch .colTd02 {
    padding: 0 10px 10px 0 !important;
    width: 42.5% !important;
}

.divRightHeadSearch .colTd04 {
    padding: 0 10px 10px 0 !important;
    width: 5% !important;
}

.divRightHeadSearch .formSelectSearch2 {
    margin-right: 0;
}

.divRightTitleTbL,
.divRightTitleTb,
.divRightTitleTbR {
    border-bottom: none;
}


/*.divRightTitleTbL,
.divRightTitleTb{border-right: 1px solid #eee;}

.divRightContantOverTbL,
.divRightContantOverTb{border-right: 1px solid #eee;}*/

.btnPlan {
    background-color: #969696;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.displayClickSubject {
    height: 50px;
    overflow: hidden;
}

.displayClickImg {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.displayTdImg {
    width: 25px;
    padding-right: 10px;
}

.formInputSearchStyle {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 22px;
    width: 100%;
    min-width: 205px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.formSelectSearchStyle {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 100%;
    min-width: 235px;
    font-size: 14px;
    margin-right: 5px;
    line-height: 24px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.formSelectSearchStyle30p {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 30%;
    min-width: 235px;
    font-size: 14px;
    margin-right: 5px;
    line-height: 24px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.formSelectHomeStyle {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 30px;
    width: 100%;
    font-size: 14px;
    margin-right: 5px;
    line-height: 24px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.formInputSearchStyle97p {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 22px;
    width: 97%;
    min-width: 205px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.formInputSearchStyle30p {
    background-color: #fefefe;
    border: #c8c7cc solid 1px;
    height: 22px;
    width: 30%;
    min-width: 205px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-gencode {
    -moz-box-shadow: 0px 8px 12px -7px #0d482d;
    -webkit-box-shadow: 0px 8px 12px -7px #0d482d;
    box-shadow: 0px 8px 12px -7px #0d482d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #281293), color-stop(1, #281293));
    background: -moz-linear-gradient(top, #281293 5%, #281293 100%);
    background: -webkit-linear-gradient(top, #281293 5%, #281293 100%);
    background: -o-linear-gradient(top, #281293 5%, #281293 100%);
    background: -ms-linear-gradient(top, #281293 5%, #281293 100%);
    background: linear-gradient(to bottom, #281293 5%, #281293 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#281293', endColorstr='#281293', GradientType=0);
    background-color: #281293;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 20px 0 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #0d482d;
    height: 40px;
}

.btn-gencode span {
    line-height: 25px;
    font-size: 16px;
}

.btn-gencode:hover {
    color: #ffffff !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #281293), color-stop(1, #281293));
    background: -moz-linear-gradient(top, #281293 5%, #281293 100%);
    background: -webkit-linear-gradient(top, #281293 5%, #281293 100%);
    background: -o-linear-gradient(top, #281293 5%, #281293 100%);
    background: -ms-linear-gradient(top, #281293 5%, #281293 100%);
    background: linear-gradient(to bottom, #281293 5%, #281293 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#281293', endColorstr='#281293', GradientType=0);
    background-color: #281293;
}


/*----- new login -----*/

/*@font-face {
    font-family: 'db_helvethaica';
    src: url('../fonts/helvethaica/db_helvethaica_x_bd_v3.2-webfont.eot');
    src: url('../fonts/helvethaica/db_helvethaica_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvethaica/db_helvethaica_x_bd_v3.2-webfont.woff2') format('woff2'), url('../fonts/helvethaica/db_helvethaica_x_bd_v3.2-webfont.woff') format('woff'), url('../fonts/helvethaica/db_helvethaica_x_bd_v3.2-webfont.ttf') format('truetype'), url('../fonts/helvethaica/db_helvethaica_x_bd_v3.2-webfont.svg#db_helvethaica_x75_bd') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'db_helvethaica';
    src: url('../fonts/helvethaica/db_helvethaica_x_med_v3.2-webfont.eot');
    src: url('../fonts/helvethaica/db_helvethaica_x_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvethaica/db_helvethaica_x_med_v3.2-webfont.woff2') format('woff2'), url('../fonts/helvethaica/db_helvethaica_x_med_v3.2-webfont.woff') format('woff'), url('../fonts/helvethaica/db_helvethaica_x_med_v3.2-webfont.ttf') format('truetype'), url('../fonts/helvethaica/db_helvethaica_x_med_v3.2-webfont.svg#db_helvethaica_x65_med') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'db_helvethaica';
    src: url('../fonts/helvethaica/db_helvethaica_x_v3.2-webfont.eot');
    src: url('../fonts/helvethaica/db_helvethaica_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvethaica/db_helvethaica_x_v3.2-webfont.woff2') format('woff2'), url('../fonts/helvethaica/db_helvethaica_x_v3.2-webfont.woff') format('woff'), url('../fonts/helvethaica/db_helvethaica_x_v3.2-webfont.ttf') format('truetype'), url('../fonts/helvethaica/db_helvethaica_x_v3.2-webfont.svg#db_helvethaica_x55_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

.new_login {
    /*font-family: 'db_helvethaica';*/
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.new_login .login-form .form-control {
    font-size: 14px;
    color: #444;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.new_login .login-form .form-btn {
    margin-top: 0;
}

.new_login .login-form .btn {
    /*font-family: 'db_helvethaica';*/
    font-weight: bold;
}

.new_login {
    background: url('../img/bg-login.jpg') center;
    background-size: cover;
}

.loginBack{display: flex; padding: 40px 0 100px 0;}
/*.loginBack > div{display: inline-block; height: 200px;}*/

.new_login .login-form {
    /*opacity: 0;*/
    background-color: #fff;
    width: 500px;
    /*position: absolute;
    top: 50%;*/
    margin: auto;
    position: relative;
    /*transform: translate(0, -50%);*/
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
.new_login .login-copy{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
    text-transform: uppercase;
    color: #aaa;
}

.new_login .login-form .form-group {
    margin-bottom: 20px;
}

.new_login .login-form .form-btn .btn {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 46px;
    font-size: 15px;
    border-radius: 3px;
}

.new_login .login-form .input-group-addon {
    width: 50px;
    padding: 0 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 10;
    color: #281293;
    /*border-right: 1px solid #e1e1e1;*/
}
.new_login .login-form .input-group-addon .fa{
    line-height: 46px;
}

.new_login .login-form .control-label {
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    color: #999;
    margin: 0;
    line-height: 46px;
    text-align: left;
    padding: 0;
}

.new_login .login-form .control-label:after {
    content: '';
    position: absolute;
    top: 9px;
    right: 0;
    width: 1px;
    height: 28px;
    background-color: #e1e1e1;
}

.new_login .login-form .input-group {
    width: 100%;
    position: relative;
}

.new_login .login-form .input-group .form-control:last-child {
    width: 100%;
    height: 46px;
    padding-left: 60px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}

.new_login .login-form .header {
    margin-bottom: 0;
    background-size: cover !important;
    background-position: top right !important;
    background-repeat: no-repeat !important;
}

.new_login .login-form .header .brand {
    padding-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.new_login .login-form .header .brand img {
    width: 140px;
}

.new_login .login-form .body {
    padding: 0 40px 60px 40px;
}

.new_login .login-form .body .title{
    font-size: 15px;
    font-weight: 500;
    color: #444;
    text-align: center;
    line-height: 1em;
    margin-bottom: 30px;
}

.new_login .login-form .body .title small {
    display: block;
    font-weight: normal;
    font-size: 19px;
}

.new_login .login-form .footer {
    text-align: center;
    margin-top: 20px;
}

.new_login .login-form .footer a {
    color: #281293;
    font-weight: 500;
    font-size: 15px;
}

.new_login .login-form .footer a:hover {
    text-decoration: underline;
}

.new_login .login-form .regis {
    border-top: 1px solid #ebebeb;
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
}

.new_login .login-form .regis p {
    margin: 0 0 15px 0;
    color: #464646;
    font-size: 14px;
    line-height: 1.4em;
}

.new_login .btn {
    background: none;
    padding: 0 20px;
    text-shadow: none;
    height: 44px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: All 200ms ease;
    -moz-transition: All 200ms ease;
    -o-transition: All 200ms ease;
}

.new_login .btn:hover,
.new_login .btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
}

.new_login .btn-primary,
.new_login .btn-primary:focus,
.new_login .btn-primary.focus {
    border: 1px solid transparent;
    background-color: #281293;
    color: #fff;
}

.new_login .btn-primary:hover,
.new_login .btn-primary:active:hover,
.new_login .btn-primary.active:hover,
.new_login .btn-primary:active:focus,
.new_login .btn-primary.active:focus,
.new_login .btn-primary:active.focus,
.new_login .btn-primary.active.focus,
.new_login .btn-primary:focus:hover,
.new_login .btn-primary.focus:hover {
    border-color: transparent;
    background-color: #281293;
    color: #fff;
}

.new_login .btn-primary.disabled,
.new_login .btn-primary.disabled:hover {
    border: 1px solid #281293;
    background-color: #281293;
    color: #fff;
    opacity: 0.2;
}

.new_login {}

.new_login .footerBackOffice {
    margin-left: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.new_login .footerBackOffice .imgLogo {
    color: #333;
    margin: 15px 15px;
    font-size: 12px;
    line-height: 1.4em;
}

.new_login .footerBackOffice .imgLogo a {
    color: #333;
}

.new_login .footerBackOffice .imgLogo a:hover {
    color: #281293;
}

.new_login .footerBackOffice .divLogin {
    margin: 15px;
    color: #333;
    font-size: 14px;
    line-height: 1.4em;
}

.new_login .footerBackOffice>div {
    display: table;
    width: 100%;
}

.new_login .footerBackOffice>div>div {
    padding: 15px;
    float: none;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.allBackOffice .footerBackOffice {
    height: 46px;
    background-color: #fff;
    border: none;
    /*-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);*/
    position: relative;
    z-index: 0;
    margin-left: 240px;
    padding-left: 20px;
}

.allBackOffice .footerBackOffice .imgLogo {
    color: #54667a;
    margin: 15px 15px;
    font-size: 12px;
    line-height: 46px;
    padding: 0 15px;
}

.allBackOffice .footerBackOffice .imgLogo a {
    color: #333;
}

.allBackOffice .footerBackOffice .imgLogo a:hover {
    color: #281293;
}

.allBackOffice .footerBackOffice .divLogin {
    margin: 15px;
    color: #333;
    font-size: 14px;
    line-height: 1.4em;
}

.allBackOffice .footerBackOffice>div {
    display: table;
    height: 46px;
}

.allBackOffice .footerBackOffice>div>div {
    padding: 15px;
    float: none;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.headBackOffice {
    z-index: 9999;
}

.divRightHead.fixed {
    position: fixed;
    height: 60px;
    z-index: 400;
    top: 62px;
    left: 240px;
    right: 0;
    width: auto;
    background-color: rgba(0,0,0,0.8);
    border: none;
}

.divRightHead.fixed .borderBottom {
    border-bottom: none;
}

.divRightHead.fixed table td {
    height: 60px !important;
}

.divRightHead.fixed .fontHeadRight {
    font-size: 20px;
    color: #fff;
}

.divRightHead.fixed .btnAdd,
.divRightHead.fixed .btnDel,
.divRightHead.fixed .btnSort,
.divRightHead.fixed .btnBack,
.divRightHead.fixed .btnSave,
.divRightHead.fixed .btnEditView,
.divRightHead.fixed .btnExport,
.divRightHead.fixed .btnExportPdf,
.divRightHead.fixed .btnHistory {
    width: 40px;
    height: 40px;
    background-size: contain;
}

.divRightMain.tiny {
    margin-top: 80px;
}

.navControlH {
    margin-bottom: 150px;
}

.formInputSearchI {
    width: 100% !important;
    float: left !important;
}


/*######### Start Theme Select Minisite #########*/

.selectTheme {
    width: 800px;
    height: 160px;
    list-style: none;
    /*margin: 0;*/
    margin: 0;
    padding: 0;
    overflow: auto;
}

.parentTheme {
    position: relative;
    width: 100px;
    height: 150px;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

.themeActive {
    margin: 1px;
    border: 3px #ff0000 solid;
    width: 92px;
    height: 142px;
    background-image: url(../img/controlpage/correct.png);
    background-position: top right;
    background-repeat: no-repeat;
}


/*######### End Theme Select Minisite #########*/

.selectSearch1 {
    width: 25%!important;
    padding-right: 1%!important;
}

.selectSearch2 {
    width: 50%!important;
    padding-right: 2%!important;
}

.textSearch2 {
    width: 100%!important;
}

.textSearch1 {
    width: 96%!important;
}

.bottonSearch {
    padding-right: 2%!important;
    width: 1% !important;
    min-width: inherit; !important;
    max-width: inherit; !important;
}

.seDate {
    width: 98%!important;
}




/*#boxPicNew img{
    width: calc(100% - 20px);
}*/







.divRightHeadSearch {
    border-bottom: none;
    padding-top: 44px;
}

.divRightHeadSearch * {
    box-sizing: border-box;
}

.bottonSearch{
    width: auto;
}

.divRightHeadSearch table {
    margin-top: 20px;
    padding: 20px 10px 20px 20px;
    background-color: #fff;
}

.divRightHeadSearch td {
    padding-bottom: 0 !important;
}

.divRightHeadSearch .formSelectSearchStyle {
    border-radius: 3px;
    height: 34px;
    color: #54667a;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/btn/select.png') no-repeat center right 10px;
    background-size: 12px;
}
/*.divRightHeadSearch .formSelectSearchStyle:focus{
outline: none;
border-color: inherit;
-webkit-box-shadow: none;
box-shadow: none;
}*/
    
.divRightHeadSearch .formInputSearchI {
    border-radius: 3px;
    height: 34px;
    padding: 0 10px;
    color: #54667a;
}

.divRightHeadSearch .btnSearch {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 34px;
    height: 34px;
    background-color: #fff;
}

.divRightHeadSearch .formInputSearchStyle {
    border-radius: 3px;
    height: 34px;
    padding: 0 10px;
    color: #54667a;
}

.divRightHeadSearch .datepick {
    background: url('../img/btn/datepicker.png') center right 8px no-repeat;
    background-size: 18px;
}






.tbBoxViewBorder {
    border-radius: 5px;
    overflow: hidden;
}

.tbBoxViewBorderBottom {
    padding-top: 3px;
    padding-bottom: 2px;
    background-color: #fff;
    border-bottom-width: 1px;
    border-color: #e8ecf0;
}

.tbBoxViewBorderBottom .formFontSubjectTxt {
    color: #281293;
}

.tbBoxViewBorderBottom .formFontTileTxt {
    color: #54667a;
    opacity: 0.6;
    font-size: 12px;
}




.displayClickImg{
    width: 40px;
    height: 40px;
    border-radius: 0;
    background-size: contain !important;
    background-color: #fff !important;
}




.thumbList{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 0 !important;
    background-size: cover !important;
    background-color: #fff !important;
}




.cke_chrome{
    box-shadow: none;
    border: none;
}




.btnEditView{
    position: relative;
    overflow: hidden;
}
.btnEditView .lang{
    position: absolute;
    bottom: 5px;
    right: 0;
    width: auto;
    padding: 3px 5px;
    /*background-color: rgba(0,0,0,0.6);*/
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 1em;
}




/*.mLeftBackOffice{
    background-color: #222;
}
.divLeftMenu{
    background-color: #222;
}
.divLeftMenu:hover{
    background-color: #222;

}
.divLeftMenu:hover .divLeftMenuTb a{
    color: #fff;
}
.divLeftMenuTb a{
    color: #999;
}
.divLeftMenuOver a{
    background-color: #111;
    color: #fff;
}*/














